{% extends "COVIDTracker/base.html" %}

{% block title %}
COVID-19 Tracker
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>COVID-19 Tracker</h1>
            <p>
                This is a simple web application that tracks the number of confirmed cases of COVID-19 in the United
                States.
            </p>
            <p>
                The data is pulled from somewhere on the internet, and is not guaranteed to be accurate.
            </p>
            <p>
                The data is updated every 10 minutes.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Current Data</h2>
            <p>
                <strong>Confirmed Cases:</strong>
            </p>
            <p>
                <strong>Deaths:</strong>
            </p>
            <p>
                <strong>Recovered:</strong>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    
</script>
{% endblock %}